* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

.stats {
  position: absolute;
  top: 0;
  left: 0;
}

.cursor {
  width: 1px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: black;

  @media print {
    display: none;
  }
}

.input {
  position: absolute;
  font-size: 16px;
  max-width: 72ch;
  line-height: 1.5;
  font-family: monospace;
  caret-color: transparent;

  @media print {
    position: static;
    padding: 1cm 1cm 1cm 1cm;
    max-width: 100%;
  }
}